.eventos__item {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto repeat(2, 1fr) auto;
    grid-template-areas:
        "imagem imagem"
        "nome nome"
        "data data"
        "local botao";
}

.eventos__item img {
    grid-area: imagem;
    max-height: 175px;
}

.eventos__item h3 {
    grid-area: nome;
    align-self: center;
}

.eventos__item h4 {
    grid-area: data;
}

.eventos__item h5 {
    grid-area: local;
    align-self: end;
}

.eventos__item a {
    grid-area: botao;
}